*.gem
*.rbc
.bundle
.config
.yardoc
.rspec_status
/gems.locked
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

kurocha
dependency.svg

# Test fixtures:
spec/teapot/command/clone_spec/
spec/teapot/command/fetch_spec/test-project/merged-lock.yml
spec/teapot/command/fetch_spec/test-project/teapot/
spec/teapot/command/fetch_spec/test-project/test-lock.yml
spec/teapot/command_spec/
